html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #88f;
  text-decoration: none;
}

a:hover {
  color: #55a;
}

a:active {
  color: #338;
}

* {
  box-sizing: border-box;
}

#__next { height: 100%; }
