.blackdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(#555, #333);
}

.icon {
  width: 100px;
  height: 100px;
  margin-top: -2000px;
  max-width: 90vw;
  animation: 1.5s grow ease-out;
}

@keyframes grow {
  from {
    margin-top: 0px;
    width: 100px;
    height: 100px;
  }
  50% {
    margin-top: 0px;
    width: 500px;
    height: 500px;
  }
  80% {
    margin-top: -200vh;
    width: 100px;
    height: 100px;
  }
}


