.backdropOld {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(#555, #333);
  animation: 0.5s fade;
  opacity: 0;
}

@keyframes fade{
  from {opacity: 1}
  to {opacity: 0}
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background: #646566;
  height: 100%;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.main {
  padding-top: 20px;
  padding-bottom: 20px;
}

.h1 {
  font-size: 100px;
}

.marginTop {
  margin-top: 3rem;
}

