body{
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-items: center;
  background: #000000;
}

#presentation{
  cursor: none;
}

.start-button{
  margin: 0 auto;
  width: 400px;
  height: 120px;
  border-radius: 50px;
  background: #2344bc;
  box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.2), 0 4px 6px -2px rgba(255, 255, 255, 0.1);
  color: #fff;
  border: 1px solid #5485ff;
  font-size: 80px;
}

.ray-container{
  position: fixed;
  left:50vw;
  top: -3px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
}

#ray{
  width: 0px;
  height: 0px;
  transform-origin: left 40px;
  border-top: 40px solid transparent;
  border-right: 500px solid orange;
  border-bottom: 40px solid transparent;
  z-index: 10;
}

.center{
  position: fixed;
  left:0px;
  top:0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
}


.image-wrapper-wrapper{
  display: block;
  overflow: hidden;
  width: 400px;
  height: 400px;
  margin: 10px auto 0;
}

.image-wrapper{
  z-index: 5;
  display: block;
  width: 400px;
  height: 400px;
  position: relative;
  top: -800px;
  left: 0px;
  margin: 0;
}

#img-background{
  background: #000;
  width: 800px;
  height: 796px;
  margin: 0;
}

#img-background-div{
  width: 400px;
  height: 400px;
}

#img-background-div-container{
  height: 396px;
  background: #FFFFFF;
}