.h2 {
  font-size: 2rem;
  margin-block-start: 0.1em;
  font-weight: 800;
}

.card {
  animation: slideup 0.5s;
  font-weight: 500;
}

.card small {
  font-size: 1rem;
}

@keyframes slideup {
  from {
    transform: translate(0, 20px);
    opacity: 0.5;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.picture {
  border-radius: 10px;
  background: #ccc;
}

