.container {
  display: flex;
  justify-content: center;
}

.card {
  width: 90%;
  padding: 1rem;
  font-size: 1.4rem;
  background: #ccc8;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 5px #777;
  border-radius: 1rem;
  max-width: 768px;
  color: #345;
  z-index: 20;
}

.card> * {
  opacity: 1;
}

