html{
  margin: 0;
  background: linear-gradient(33deg, #304352, #d7d2cc);
  height: 100vh;
}

#JSt-pill {
  width: 800px;
  height: 150px;
  position: fixed;
  top: 50px;
  left: calc(50vw - 400px);
  border-radius: 75px;
  border: 2px solid #aaa;
  background-image: linear-gradient(#fff, #bbbbbb);
  overflow: hidden;
  box-shadow: 0px 0px 10px 4px #ccd;
  z-index: 100;
}

#JSt-message {
  position: relative;
  margin: 0 auto;
  top: -150px;
  height: 150px;
  width: calc(800px - 150px);
  font-family: monospace;
  font-size: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 101;
}

.before-appear {
  animation: 0.7s ease-in slideaway;
}

@keyframes slideaway {
  from {
    margin-left: 75px;
  }
  to {
    margin-left: 800px;
  }
}

#JSt-buttons-container {
  margin-left: 75px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 150px;
  width: 650px;
  width: calc(800px - 150px);
  font-family: monospace;
  font-size: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: transparent;
  z-index: 102;
}

.JSt-button {
  background-image: linear-gradient(#fff, #bbbbbb);
  width: 150px;
  height: 150px;
  border: 0px;
  padding: 20px;
  transition: 0.5s;
  color: #888;
  z-index: 103;
}

.JSt-button:hover {
  color: #555;
  padding: 15px;
}

.JSt-button:active {
  color: #333;
  padding: 0px;
}
