.h2 {
  font-size: 1.5rem;
  margin-block-start: 0.1em;
}

.card {
  animation-delay: 0.4s;
  animation: slideup 0.5s;
}

@keyframes slideup {
  from {
    transform: translate(0, 20px);
    opacity: 0.5;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

